force-app/main/default/flows/Test_Mark_Email_Domain_Check_for_LeadsXAccount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>set_account_detail</name>
        <label>set account detail</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AccountNametext</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Account.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Store_Lead_and_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Lead_and_Account</name>
        <label>Store Lead and Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rLeadRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_if</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>PersonalEmail</name>
        <dataType>String</dataType>
        <value>
            <stringValue>@gmail.com</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_if</name>
        <label>Check if Lead Var is empty</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Check_if</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rLeadRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_the_matching_account</targetReference>
            </connector>
            <label>if Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_1</name>
        <label>Email Domain Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Matching_Accounts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Personal</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>leadEmailDomain</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PersonalEmail</elementReference>
                </rightValue>
            </conditions>
            <label>if personal email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Domain_Match_Check</name>
        <label>Email Domain Match Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Matching</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fAccountEmailDomain</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>leadEmailDomain</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_account_detail</targetReference>
            </connector>
            <label>Yes - Matching</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>duedatefortask</name>
        <dataType>Date</dataType>
        <expression>TODAY()+2</expression>
    </formulas>
    <formulas>
        <name>fAccountEmailDomain</name>
        <dataType>String</dataType>
        <expression>RIGHT(
{!Loop_Account.Temp_AccountNumber__c},
LEN({!Loop_Account.Temp_AccountNumber__c}) - FIND(&quot;@&quot;,{!Loop_Account.Temp_AccountNumber__c}) + 1
)</expression>
    </formulas>
    <formulas>
        <name>leadEmailDomain</name>
        <dataType>String</dataType>
        <expression>RIGHT(
    {!$Record.Email},
    LEN({!$Record.Email}) - FIND(&quot;@&quot;, {!$Record.Email}) + 1
)</expression>
    </formulas>
    <interviewLabel>Test Mark - Email Domain Check for LeadsXAccount {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test Mark - Email Domain Check for LeadsXAccount</label>
    <loops>
        <name>Loop_Account</name>
        <label>Loop through all Accounts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Matching_Accounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Email_Domain_Match_Check</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_if</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Task_for_Lead_Owner</name>
        <label>Create Task for Lead Owner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>duedatefortask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_the_matching_account.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Please create contact for this lead </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_the_matching_account.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Matching_Accounts</name>
        <label>Get Matching Accounts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Account</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_the_matching_account</name>
        <label>Get the matching account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Task_for_Lead_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountNametext</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountNametext</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>rAccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>rLeadRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
